@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-size: 14px;
  background: #1a0b2e;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: rgb(85, 26, 141);
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.top-header {
  padding: 30px;
}

.header-figure {
  width: 51px;
  height: 36.125px;
  margin-right: 30px;
}

.header-title {
  color: #fff;
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.big-figure {
  text-align: right;
  margin-right: 100px;
}

.round-bg {
  text-align: center;
  max-height: 100px;
}

.first-row {
  background-color: rgb(59, 18, 97);
  padding: 40px;
  margin-bottom: 40px;
}

.face-fig {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: -12px;
}

.face-img {
  width: 81px;
  height: 81px;
  flex-shrink: 0;
}

.second-row-content {
  margin-left: 20px;
}

.first-row-name {
  color: #c1ff75;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}

.first-row-title {
  color: #fff;
  font-family: "Noto Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px; /* 125% */
  margin-bottom: 22px;
}

.first-row-text {
  color: #fff;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 23px;
  max-width: 500px;
}

.first-row-btn {
  color: #fff;
  padding: 5px 30px;
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.date-range {
  align-items: center;
  margin-bottom: 10px;
}

.date-range-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 5px;
}

.icons-number,
.icons-range i {
  margin-right: 20px;
}

.icons-range {
  align-items: center;
}

.icons-range i {
  margin-left: -10px;
}

.first-row-right {
  margin-top: 70px;
}

.bg-color {
  background-color: rgb(59, 18, 97);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  max-width: 570px;
}

.bg-color:last-child {
  margin-right: 0;
}

.second-row-bottom {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 647px) {
  .header-title {
    font-size: 20px;
  }

  .first-row-text {
    font-size: 8px;
    max-width: 250px;
  }

  .second-row .icons-range {
    margin-left: -20px;
  }

}
